.orderText-container{
}

.orderText-article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-textContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-img{
    width: var(--fontSizeGrande);
}

.order-text{
    font-size: var(--fontSizeChica);
    text-transform: uppercase;
}

