.successfully-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 10px;
}

.successfully-container .smile{
    width: 100px;
}

.successfully-container h2{
    text-align: center;
    
}

.successfully-container .total{
    font-weight: 400;
}

.successfully-container .total span{
    font-weight: 700;
}

.successfully-payment{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.successfully-paymentContainer{
    width: 100%;
    display: flex;
    padding-top: 20px;
}


.successfully-container .mercadoPago-container{
    width: 100%;
    padding-top: 20px;
}

.successfully-container .title-article{
    font-size: var(--fontSizeChica);
    font-weight: 100;
    text-align: left;
}

.successfully-paymentContainer .payment-footsprings{
    width: 50%;
    padding: 0;
}

.successfully-paymentContainer .payment-footsprings .footspring-group{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.successfully-paymentContainer .payment-footsprings .footspring-group .footspring-text{
    text-align: left;
}

.checkout-payment__footer{
    padding-top: 20px;
}

.checkout-payment__footer .payment-buttons .goOnButton{
    font-weight: 700;
}

.successfully-container a {
    margin-top: 20px;
}

.successfully-container a:hover{
    opacity:.8;
}

.successfully-footer-text{
    text-align: center;
}

@media screen and (max-width: 992px) {
    .successfully-paymentContainer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .successfully-paymentContainer .successfully-payment{
        width: 100%;
    }
    .successfully-paymentContainer .payment-footsprings{
        width: 100%;
    }
    .successfully-paymentContainer .payment-footsprings .footspring-group .footspring-number{
        margin: unset;
    }
}

@media screen and (max-width:576px) {
    .successfully-paymentContainer .payment-footsprings .footspring-group{
        flex-direction: column;
    }
    .successfully-paymentContainer .payment-footsprings .footspring-group .footspring-text{
        text-align: center;
    }
}