.card-container {
    position: relative;
    width: 300px;
    min-height: 400px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 1px 1px 5px 1px #0000007e;
    border-radius: 15px;
    transition: .1s;

    border-radius: 50px;
    background: #ffffff;
    box-shadow: 30px 30px 60px #d9d9d9,
        -30px -30px 60px #ffffff;
}

.card-container:hover {
    box-shadow: 3px 3px 5px 1px #0000007e;
    transition: .1s;
}

.card-photo {
    /* padding: 40px 0; */
    padding: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image {
    width: 90%;
    height: auto;
    max-height: 200px;
    min-height: 100px;
    object-fit: contain;
}

/* .card-capacity{
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--colorSecundario);
    border: 1px solid var(--colorSecundario);
    padding: 10px 5px;
    border-radius: 50px;
    opacity: .7;
} */

.card-capacity {
    color: var(--colorSecundario);
    border: 1px solid var(--colorSecundario);
    margin: 8px 0;
    padding: 10px 5px;
    border-radius: 50px;
    opacity: .7;
}


.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-productBrand {
    font-size: var(--fontSizeChica);
    text-transform: uppercase;
    font-weight: 400;
}

.card-productName {
    font-size: var(--fontSizeChica);
    text-transform: uppercase;
    font-weight: 100;
}

.card-footer {
    position: relative;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-discount__porcent{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorSecundario);
    z-index: 50;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

.card-discount__porcent span{
    font-size: var(--fontSizeNormal);
    color: var(--colorPrincipal);
}

.card-discount{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 100;
    font-size: var(--fontSizeChica);
}

.card-discount__price{
    font-size: var(--fontSizeChica);

    font-weight: 100;
    text-decoration: line-through;
}

.card-price {
    font-size: var(--fontSizeNormal);
    font-weight: 400;
}

.cart-image {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-image:hover{
    opacity: .8;
}

.cart-image__inactive{
    display: none;
}

.whatsapp-image {
    width: 40px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.card-status {
    position: absolute;
    /* bottom: 100px; */
    /* bottom: 135px; */
    bottom: 37%;
    padding: 10px 15px 5px 15px;
    z-index: 10;
    font-size: var(--fontSizeChica);
    color: var(--colorSecundario);
    text-transform: uppercase;
    border-radius: 50px;
    opacity: .8;
    transition: .1s;
}

.card-status__unavailable{
    color: #d81a1a;
}

.card-container:hover .card-capacity {
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
    opacity: 1;
    transition: .1s;
}

.card-container:hover .card-productName {
    font-weight: 400;
    transition: .1s;
}

.card-container:hover .card-productBrand {
    font-weight: 100;
    transition: .1s;
}

@media screen and (max-width: 768px) {
    .cart-image__inactive{
        display: block;
    }
    .card-container:hover {
        box-shadow: none;
        transition: .1s;
    }
}

@media screen and (max-width: 320px) {
    .card-container {
        width: 95%;
    }
}