.card-container{
    position: relative;
    width: 300px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 1px 1px 5px 1px #0000007e;
    border-radius: 15px;
    transition: .1s;

    border-radius: 50px;
    background: #ffffff;
    box-shadow:  30px 30px 60px #d9d9d9,
             -30px -30px 60px #ffffff;
}

.card-container:hover{
    box-shadow: 3px 3px 5px 1px #0000007e;
    transition: .1s;
}

.card-photo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image{
    width: 90%;
    height: auto;
    max-height: 200px;
    min-height: 100px;
    object-fit: contain;
}

.card-capacity{
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--colorSecundario);
    border: 1px solid var(--colorSecundario);
    padding: 10px 5px;
    border-radius: 50px;
    opacity: .7;
    
}


.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-productBrand{
    font-size: var(--fontSizeChica);
    text-transform: uppercase;
    font-weight:400;
}

.card-productName{
    font-size: var(--fontSizeChica);
    text-transform: uppercase;
    font-weight: 100;
}
.card-footer{
    position: relative;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-price{
    font-size: var(--fontSizeNormal);
    font-weight: 400;
}

.whatsapp-link{
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-image{
    width: 30px;
    height: auto;
    object-fit: cover;
}

.card-incoming{
    position: absolute;
    font-size: var(--fontSizeNormal);
    padding: 5px 15px;
    z-index: 10;
    color: var(--colorSecundario);
    background-color: #00000018;
    transform: rotate(45deg) translateX(50%);
    left: 0px;
    top: 30px;
    border: 1px solid var(--colorSecundario);
    border-radius: 50px;
    opacity: .8;
    transition: .1s;
}

.card-container:hover .card-incoming, .card-container:hover .card-capacity{
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
    opacity: 1;
    transition: .1s;
}

.card-container:hover .card-productName{
    font-weight: 400;
    transition: .1s;
}

.card-container:hover .card-productBrand{
    font-weight: 100;
    transition: .1s;
}

@media screen and (max-width: 320px){
    .card-container{
        width: 95%;
    }
}