footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorSecundario);
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #0000007e ;
}

footer nav{
    width: 100%;
    max-width: 992px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.socialMedia-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
}

.socialMedia-image{
    width: 20px;
    height: auto;
    object-fit: cover;
}

.socialMedia-image:hover{
    opacity: .8;
}