footer{
    /* border-top: 1px solid var(--colorSecundario); */
    width: 100%;/* 
    max-width: 992px;
    margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorSecundario);
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #0000007e ;
}