header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: 1px 1px 5px 1px #0000007e;
    }

header nav{
    display: flex;
    flex-direction: column;
}

header nav h1{
    text-align: center;
    font-weight: 400;
    font-size: var(--fontSizeGrande);
    text-transform: uppercase;
}

header nav h2{
    text-align: center;
    font-weight: 100;
    font-size: var(--fontSizeChica);
    text-transform: uppercase;
}


.formSearch-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formSearch-header input{
    border: none;
    padding: 10px;
    border: 1px solid var(--colorSecundario);
    border-radius: 50px;
    font-family: var(--fontPrincipal);
}

.formSearch-header input:focus{
    outline-color: var(--colorSecundario);
}

.resetSearch{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: .1s;
    /* padding: 4px 2px; */
    padding: 6px 7px 2px 7px;
    border: 1px solid var(--colorSecundario);
    border-radius: 50%;
    
}

.resetSearch:hover{
    opacity: .8;
    transition: .1s;
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
}