main{
    width: 100vw;
    min-height: 100vh;
    padding: 100px 20px 20px 20px;
}

main section{
    margin: 0 auto;
    padding-top: 25px;
    max-width: 992px;
}


.formSearch-container{
    width: 100%;
}

.formSearch-container form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formSearch-container form input{
    border: none;
    padding: 10px;
    border: 1px solid var(--colorSecundario);
    border-radius: 50px;
    font-family: var(--fontPrincipal);
}

.formSearch-container form input:focus{
    outline-color: var(--colorSecundario);
}

.resetSearch{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: .1s;
    /* padding: 4px 2px; */
    padding: 6px 7px 2px 7px;
    border: 1px solid var(--colorSecundario);
    border-radius: 50%;
    
}

.resetSearch:hover{
    opacity: .8;
    transition: .1s;
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);

}

.filters-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.filter-button{
    background-color: transparent;
    color: var(--colorSecundario);
    outline: none;
    border: none;
    font-family: var(--fontPrincipal);
    font-size: var(--fontSizeChica);
    cursor: pointer;
    transition: .3s;
}

.filter-button:hover{
    opacity: .7;
    transition: .3s;
}

.brands-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.brand-image{
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    cursor: pointer;
    filter: grayscale(100%);
}

.allBrandsHTML-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    border: 1px solid var(--colorSecundario);
    border-radius: 50px 10px 50px 10px;
    -moz-border-radius: 50px 10px 50px 10px;
    -webkit-border-radius: 50px 10px 50px 10px;
    cursor: pointer;
}

.allBrandsHTML-container:hover{
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
}

.allBrandsHTML-container p{
    text-align: center;
}

.brand-image:hover{
    filter: grayscale(0%)
}

.content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container h3{
    padding: 50px 0;
}

.content-group{
    max-width: 992px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.loading-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-container svg{
    width: 300px;
}

.loading-cardsGroup{
    max-width: 992px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.contactForm-container{
    display: flex;
    justify-content: center;
}

.contactForm{
    padding-bottom: 50px;
    width: 50%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: var(--colorPrincipal);
    border-radius: 40px;
    box-shadow: 13px 13px 20px #e2e2e2, -13px -13px 20px #fff;
}

.contactForm-input{
    resize: none;
    width: 90%;
    border: none;
    background: none;
    padding: 15px;
    border-radius: 30px;
    font-family: var(--fontPrincipal);
    font-size: var(--fontSizeChica);
    box-shadow: inset 8px 8px 8px #e0e0e0, inset -8px -8px 8px #fff;
}

.contactForm-input:focus{
    outline: 1px solid var(--colorSecundario);
}

.contactForm-sendButton{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--fontPrincipal);
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px #c7c7c7, -3px -3px 8px #fff;
    transition: .1s;
}

.contactForm-sendButton:hover{
    box-shadow: 3px 3px 5px 1px #0000007e;
    opacity: .9;
    transition: .1s;
}

.contactForm p{
    text-align: center;
}

.separator{
    display: flex;
    justify-content: center;
}

.separador_box-relative{
    padding-top: 20px;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.separador-item1, .separador-item2{
    width: 100px;
}

.separador-item3{
    width: 60px;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, 1);
}

.separador-item4{
    width: 60px;
}

.messageStatus{
    text-transform: uppercase;
}

@media screen and (max-width: 980px){
    .content-group{
        justify-content: center;
        gap: 20px;
    }
    .loading-cardsGroup{
        justify-content: center;
    }
    /* .brands-container{
        flex-wrap: wrap;
        justify-content: center;
    } */

    .contactForm{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .brands-container{
        padding-bottom: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: space-between;
        gap: 40px;
    }

    .brands-container::-webkit-scrollbar{
        background-color:transparent;
        height: 3px;

    }
    .brands-container::-webkit-scrollbar-thumb{
        border-radius: 50px;
        background-color: var(--colorSecundario);
    }

    .allBrandsHTML-container{
        border-radius: 30px 10px 30px 10px;
        -moz-border-radius: 30px 10px 30px 10px;
        -webkit-border-radius: 30px 10px 30px 10px;
    }

    .separador-item1, .separador-item2{
        width: 60px;
    }
    
    .separador-item3{
        width: 40px;
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, 1);
    }
    
    .separador-item4{
        width: 40px;
    }
}