main{
    width: 100vw;
    min-height: 100vh;
    padding: 100px 20px 20px 20px;
}

main section{
    margin: 0 auto;
    padding-top: 25px;
    max-width: 992px;
}


.formSearch-container{
    width: 100%;
}

.formSearch-container form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formSearch-container form input{
    border: none;
    padding: 10px;
    border: 1px solid var(--colorSecundario);
    border-radius: 50px;
    font-family: var(--fontPrincipal);
}

.formSearch-container form input:focus{
    outline-color: var(--colorSecundario);
}

.resetSearch{
    position: absolute;
    right: 20px;
    top: 8px;
    cursor: pointer;
    transition: .1s;
    padding: 4px 2px;
}

.resetSearch:hover{
    opacity: .8;
    transition: .1s;
}

.filters-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.filter-button{
    background-color: transparent;
    color: var(--colorSecundario);
    outline: none;
    border: none;
    font-family: var(--fontPrincipal);
    font-size: var(--fontSizeChica);
    cursor: pointer;
    transition: .3s;
}

.filter-button:hover{
    opacity: .7;
    transition: .3s;
}

.content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container h3{
    padding-bottom: 50px;
}

.content-group{
    max-width: 992px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.loading-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 980px){
    .content-group{
        justify-content: center;
        gap: 20px;
    }
}

