main{
    width: 100vw;
    min-height: calc(100vh - 50px);
    padding: 100px 20px 20px 20px;
}

main section{
    margin: 0 auto;
    padding-top: 25px;
    max-width: 992px;
}

.content-container{
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container h3{
    padding: 50px 0;
}



.separator{
    display: flex;
    justify-content: center;
}

.separador_box-relative{
    padding-top: 20px;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.separador-item1, .separador-item2{
    width: 100px;
}

.separador-item3{
    width: 60px;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, 1);
}

.separador-item4{
    width: 60px;
}

.messageStatus{
    text-transform: uppercase;
}

@media screen and (max-width: 980px){
    .contactForm{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .separador-item1, .separador-item2{
        width: 60px;
    }
    
    .separador-item3{
        width: 40px;
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, 1);
    }
    
    .separador-item4{
        width: 40px;
    }
}