*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root{
  --colorPrincipal: #fff;
  --colorSecundario: #000;
  --colorIntermedio: #c5c5c5;
  --fontPrincipal: 'League Spartan', sans-serif;
  --fontSizeGrande: 30px;
  --fontSizeNormal: 26px;
  --fontSizeChica: 16px;

}

body{
  font-family: var(--fontPrincipal);
  background-color: var(--colorPrincipal);
  overflow-x: hidden;
  user-select: none;
  scroll-behavior: smooth;
}

h1{
  font-size: var(--fontSizeGrande);
}
h2{
  font-size: var(--fontSizeNormal);
}
h3{
  font-size: var(--fontSizeNormal);
}

a{
  text-decoration: none;
  color: var(--colorSecundario);
}

.inactive{
  display: none;
}